#game-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #000;
  }
  
  canvas {
    background-color: #fff;
  }
  
  #buttons-container {
    text-align: center;
    margin-top: 10px;
  }
  