#game-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #000;
}

canvas {
  background-color: #fff;
}

.snake-segment {
  background-color: #059b34;
  border: 1px solid #fff;
  border-radius: 50%;
}

#buttons-container {
  text-align: center;
  margin-top: 10px;
}
